In [50]:
class Kumar:
    pass

a=Kumar()
a.name = "Lakshman"
a.surname = "Kumar V"
a.year_of_birth =1999


print(a)
print("%s %s was born in %d." %
      (a.name, a.surname, a.year_of_birth))

<__main__.Kumar object at 0x72b868c850>
Lakshman Kumar V was born in 1999.

In [13]:
class Kumar:
    def __init__(self, name, surname, year_of_birth):
        self.name = name
        self.surname = surname
        self.year_of_birth = year_of_birth

In [16]:
a = Kumar("Lakshman", "Kumar V", 1999)
print(a)
print("%s %s was born in %d"% (a.name,a.surname,a.year_of_birth))

<__main__.Kumar object at 0x72b84e7610>
Lakshman Kumar V was born in 1999

In [19]:
class Kumar:
    def __init__(self, name, surname, year_of_birth):
        self.name = name
        self.surname = surname
        self.year_of_birth = year_of_birth
    
    def age(self, current_year):
        return current_year - self.year_of_birth
    
    def __str__(self):
        return "%s %s was born in %d." % (self.name, self.surname, self.year_of_birth)
    
a= Kumar("Lakshman", "Kumar V", 1999)
print(a)
print(a.age(2020))

Lakshman Kumar V was born in 1999.
21

In [21]:
class Student(Kumar):
    def __init__(self, student_id, *args, **kwargs):
        super(Student, self).__init__(*args, **kwargs)
        self._student_id = student_id
        
a= Student(1, 'Lakshman', 'kumar V', 1999)
print(a)
print(type(a))
print(isinstance(a, Kumar))
print(isinstance(a, object))

Lakshman kumar V was born in 1999.
<class '__main__.Student'>
True
True

In [23]:
class Student(Kumar):
    def __init__(self, student_id, *args, **kwargs):
        super(Student, self).__init__(*args, **kwargs)
        self._student_id = student_id
        
    def __str__(self):
        return super(Student, self).__str__() + " And has ID: %d" % self._student_id
        
a= Student(10, 'Lakshman' , 'kumar V', 1999)
print(a)

Lakshman kumar V was born in 1999. And has ID: 10

In [24]:
def summer(a, b):
    return a + b
print(summer(1, 1))
print(summer(["a", "b", "c"], ["d", "e"]))
print(summer("abra", "cadabra"))

2
['a', 'b', 'c', 'd', 'e']
abracadabra

In [25]:
%%writefile superman.txt
Hello, this is a quick superman test file

Writing superman.txt

In [27]:
my_file = open('superman.txt')

In [28]:
my_file.read()

'Hello, this is a quick superman test file\n'

In [29]:
my_file.read()

''

In [30]:
my_file.seek(0)

0

In [31]:
my_file.read()

'Hello, this is a quick superman test file\n'

In [32]:
my_file.seek(0)

0

In [33]:
my_file.readlines()

['Hello, this is a quick superman test file\n']

In [35]:
my_file = open('superman.txt','w+')

In [36]:
my_file.write('This is a new line')

18

In [37]:
my_file.seek(0)

0

In [38]:
my_file.read()

'This is a new line'

In [39]:
%%writefile test.txt
First Line
Second Line

Writing test.txt

In [40]:
for line in open('test.txt'):
    print(line)

First Line

Second Line

In [41]:
for asdf in open('test.txt'):
    print(asdf)

First Line

Second Line

In [42]:
from io import StringIO

In [44]:
message = 'This is just a normal string.'

In [45]:
f = StringIO(message)

In [46]:
f.read()

'This is just a normal string.'

In [47]:
f.write(' Second line written to file like object')

40

In [48]:
f.seek(0)

0

In [49]:
f.read()

'This is just a normal string. Second line written to file like object'